
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
    color: white;
}
.profile {
    text-align: center;
    background-color: black;
    color: white;
}
h1{
    margin-top: 10px;
}
.About {
    padding: 20px;
    text-align: center;
    background-color: deepskyblue;
    margin: 20px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 200px;
}
.Skills-Hobbies {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}
.Skills {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}
.skills-list {
    border-radius: 8px;
    background-color: deepskyblue;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 90px;
}
.hobbies-list {
    padding: 20px;
    margin: 20px auto;
    background-color: deepskyblue;
    border-radius: 8px;
    width: 90%;
    max-width: 90px;
}
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: deepskyblue;
}
.social {
    list-style: none;
    padding: 0;
}